<% if @payment_methods.blank? %>
  <h3>Nenhum meio de pagamento cadastrado</h3>
<% end %>
<table class="table">
    <thead>
        <th>Nome</th>
        <th>Forma de Pagamento</th>
        <th>Taxa %</th>
        <th>Taxa Máxima</th>
        <th colspan="3">Ação</th>
    </thead>
<tbody>
<% @payment_methods.each do |payment_method|%>
  <tr>  
    <td><%=payment_method.name%></td>
    <td><%=payment_method.kind%></td>
    <td><%=number_to_percentage(payment_method.fee, precision: 2)  %></td>
    <td><%=number_to_currency payment_method.max_fee  %></td>
    <td><%=link_to '+ detalhes', [:admin, payment_method], class: 'details'%></td>
    <td><%=link_to 'Editar', edit_admin_payment_method_path(payment_method)%></td>
    <!-- <td><%#= link_to 'Deletar', [:admin, payment_method], method: :delete %></td> -->
  </tr>
<%end%>
</tbody>
</table>
<%= link_to 'Novo meio de pagamento', new_admin_payment_method_path %>