<h1><%= @payment_method.name %></h1>
<d1>
  <dd><%= @payment_method.kind %></dd>
  <dt><%= number_to_percentage(@payment_method.fee, precision: 2)%></dt>
  <dd><%= number_to_currency @payment_method.max_fee %></dd>
  <dt><%= image_tag(@payment_method.icon)%></dt>
  <dd><%= @payment_method.active ? 'Ativo' : 'Inativo' %></dd>
  <%#= link_to 'Deletar', [:admin, @payment_method], method: :delete %>
</d1>
