<% if @payment_methods.blank? %>
  <h3>Nenhum meio de pagamento cadastrado</h3>
<% end %>
<table class="table">
  <thead>
      <th>Nome</th>
      <th>Forma de Pagamento</th>
      <th>Taxa %</th>
      <th>Taxa Máxima</th>
      <th>Status</th>
      <th colspan="3">Ação</th>
  </thead>
  <tbody>
  <% @payment_methods.each do |payment_method|%>
    <tr>  
      <td><%=payment_method.name%></td>
      <td><%=payment_method.kind%></td>
      <td><%=number_to_percentage(payment_method.fee, precision: 2)  %></td>
      <td><%=number_to_currency payment_method.max_fee  %></td>
      <td><%= payment_method.active ? 'Ativo' : 'Inativo'  %></td>
      <td>
        <% user_payment_method = UserPaymentMethod.find_by(user_id: current_user.id, payment_method_id: payment_method.id)%>
        <% if user_payment_method.blank? %>
          <%= link_to "Configurar", new_user_payment_method_user_payment_method_path(payment_method), class: 'visualizar'%>
        <% else %>
          <%= link_to "Editar", edit_user_payment_method_user_payment_method_path(payment_method.id, user_payment_method), class: 'visualizar' %>
        <% end %>
      </td>
    </tr>
  <%end%>
  </tbody>
</table>
